.card_wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  column-gap: 20px;
}

.card_wrapper .card {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.07);
  background: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  column-gap: 40px;
}

.card_wrapper .card h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.card_wrapper .card .text {
  font-size: 14px;
  font-weight: 400;
  color: #c4c4c4;
}

.card_wrapper .card .small_procent {
  border-radius: 12px;
  padding: 2px 5px 2px 7px;
  color: #ffffff;
  margin-left: 4px;
}

.card_wrapper .card .bottom_left {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.card_wrapper .card .bottom_left .bottom_text_container {
  display: flex;
  align-items: center;
}

.card_wrapper .card .bottom_left h4 {
  font-size: 32px;
  font-weight: 500;
  margin-right: 12px;
}

.card_wrapper .card .percent {
  position: relative;
}

.card_wrapper .card .percent .percent_text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

.card_wrapper .card .percent .percent_text h3 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.card_wrapper .card .percent .percent_text p {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  max-width: 85px;
}

.charts_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(330px, 1fr));
  column-gap: 20px;
}

.charts_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  grid-auto-flow: row;
  grid-template-areas: "first first .";
}

.charts_wrapper .hBarChart {
  grid-area: first;
  height: fit-content;
  min-height: 330px;
}

.dashboard_container {
  display: flex;
  justify-content: center;
}

.chart_container {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart_container canvas {
  width: 300px !important;
  height: 300px !important;
}

h2 {
  margin-bottom: 20px;
  color: #000;
}

.chart_legend {
  width: 100%;
  max-width: 300px;
  margin-top: 320px;
}

.chart_legend ul {
  list-style: none;
  padding: 0;
}

.chart_legend li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #000;
}

.color_box {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
}

/* Horizontal bar chart styles */

.hBchart_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 80px;
  row-gap: 15px;
}

.hBchart_container .hBchart_item .hBchart_item_top {
  display: flex;
  justify-content: space-between;
}